
// Theme Colors
$brand-primary: #7B68EE;
$brand-secondary: #2B343B;

$text-default: #292D34;
$text-primary: #fff;
$text-secondary: #ABAEB0;

$body-background:#1E272E;
$border-secondary: #384047;
$const-white:#fff;